<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>a Flask sample</title>
</head>

<body>
  Welcome to Flask sample page.
  <hr>
  <p>这是采用render_template模板方法获得的内容</p>
  <p><font color="#00dd00">姓名：{{ uname }}</font></p>
  <p><font color="#00dd00">年龄：{{ uage }}</font></p>
  <p><font color="#00dd00">身高：{{ u.uheight }}</font></p>
  <p><font color="#00dd00">体重：{{ u.uweight }}</font></p>
  <p><font color="#00dd00">爱好：{{ u.love }}</font></p>
  <hr>
  <p><font color="#dd0000">函数( a:5, b:6 )：{{ add_func(5, 6) }}</font></p>
  <p><font color="#0000dd">{{ text }}</font></p>
  <img src="{{ url_for('static',filename='img/main.webp')}}" alt="">
</body>

</html>